<a href="https://colab.research.google.com/github/ryanba08/grocery_Sales_data/blob/main/sales_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [215]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/CODING/02 Week 2: Pandas/sales_predictions.csv')
df.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [217]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [218]:
df.duplicated().sum()

0

In [219]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [220]:
fill_value = df['Item_Weight'].mean()
df['Item_Weight'].fillna(value=fill_value,inplace=True)
#decided after looking throgh some of the weights and surrounding data that there is no way
#to determine actual weight of each item
#Decided to take the average weight and fill it that way the weight average overall wont change

In [221]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [222]:
grocery_Type = df['Outlet_Type'] =='Grocery Store'
df[grocery_Type].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1083 entries, 3 to 8509
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            1083 non-null   object
 1   Item_Weight                1083 non-null   float64
 2   Item_Fat_Content           1083 non-null   object
 3   Item_Visibility            1083 non-null   float64
 4   Item_Type                  1083 non-null   object
 5   Item_MRP                   1083 non-null   float64
 6   Outlet_Identifier          1083 non-null   object
 7   Outlet_Establishment_Year  1083 non-null   int64
 8   Outlet_Size                528 non-null    object
 9   Outlet_Location_Type       1083 non-null   object
 10  Outlet_Type                1083 non-null   object
 11  Item_Outlet_Sales          1083 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 110.0+ KB

In [223]:
df[grocery_Type]['Outlet_Size'].value_counts()
small_Value = 'Small'
df.loc[grocery_Type,'Outlet_Size'] = small_Value
#noticed all grocery stores are type small or nan so filled them in small

In [224]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1855
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [225]:
df.groupby(['Outlet_Location_Type','Outlet_Size']).sum()

                                   Item_Weight  ...  Item_Outlet_Sales
Outlet_Location_Type Outlet_Size                ...
Tier 1               Medium       12013.225000  ...       2.183970e+06
                     Small        18754.961657  ...       2.298089e+06
Tier 2               Small        11931.295000  ...       2.268123e+06
Tier 3               High         12121.730000  ...       2.142664e+06
                     Medium       23968.363247  ...       5.305749e+06
                     Small         7166.800000  ...       1.883402e+05

[6 rows x 5 columns]

In [226]:
Tier2 = df['Outlet_Location_Type']=='Tier 2'
df[Tier2].isna().sum()

Item_Identifier                 0
Item_Weight                     0
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1855
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [227]:
df.loc[Tier2,'Outlet_Size'] = small_Value
#I noticed tier 2 outlet types were all small so filled in the rest small

In [228]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [229]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [230]:
df['Item_Fat_Content'].replace({'low fat':'Low Fat','reg':'Regular','LF':'Low Fat'},inplace=True)
df['Item_Fat_Content'].value_counts()

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [231]:
#checked all the columns value counts and fixed all the inconsistent data

In [232]:
df['Item_Weight'].describe()

count    8523.000000
mean       12.857645
std         4.226124
min         4.555000
25%         9.310000
50%        12.857645
75%        16.000000
max        21.350000
Name: Item_Weight, dtype: float64